<header>
  <img src="" alt="" />
  <button class="logout">Log out</button>
</header>

<div class="page-container">
    <div class="events-action">
        <h2><</h2>
        <h1>Mês e Ano</h1>
        <h2>></h2>
    </div>
  <div class="event-container">
    <div class="calendar-container">
      <div class="calendar-date">
        <h2>Dia e Mês de inicio</h2>
      </div>
      <div class="calendar-description">
        <ul>
          <li>Horário de inicio:</li>
          <li>Horário de término:</li>
        </ul>
        <p>
          Nesse espaço vamos ter a descrição do nosso evento Nesse espaço vamos
          ter a descrição do nosso evento Nesse espaço vamos ter a descrição do
          nosso evento Nesse espaço vamos ter a descrição do nosso evento
        </p>
      </div>
    </div>

    <div class="calendar-container">
      <div class="calendar-date">
        <h2>Dia e Mês de inicio</h2>
      </div>
      <div class="calendar-description">
        <ul>
          <li>Horário de inicio:</li>
          <li>Horário de término:</li>
        </ul>
        <p>Nesse espaço vamos ter a descrição do nosso evento.</p>
      </div>
    </div>
    <div class="calendar-container">
      <div class="calendar-date">
        <h2>Dia e Mês de inicio</h2>
      </div>
      <div class="calendar-description">
        <ul>
          <li>Horário de inicio:</li>
          <li>Horário de término:</li>
        </ul>
        <p>Nesse espaço vamos ter a descrição do nosso evento</p>
      </div>
    </div>
    <div class="calendar-container">
      <div class="calendar-date">
        <h2>Dia e Mês de inicio</h2>
      </div>
      <div class="calendar-description">
        <ul>
          <li>Horário de inicio:</li>
          <li>Horário de término:</li>
        </ul>
        <p>Nesse espaço vamos ter a descrição do nosso evento</p>
      </div>
    </div>
    <div class="calendar-container">
      <div class="calendar-date">
        <h2>Dia e Mês de inicio</h2>
      </div>
      <div class="calendar-description">
        <ul>
          <li>Horário de inicio:</li>
          <li>Horário de término:</li>
        </ul>
        <p>Nesse espaço vamos ter a descrição do nosso evento</p>
      </div>
    </div>
  </div>
</div>
