<div class="modal">
    <div class="modal-container">
      <div class="top-modal-container">
        <h1>Cadastre um novo evento</h1>
        <div (click)="modalHandler()" class="close-button">
          <i data-feather="x"></i>
        </div>
      </div>
      <div class="new-event-form-container">
        <form #f='ngForm' (ngSubmit)="handleCreateEvents()">
          
          <h2>Data e Hora de Inicio</h2>
          <input [(ngModel)]="newEvent.init_date" type="datetime-local" placeholder="Data e hora de inicio" name="init_date" required/>
          
          <h2>Data e Hora de Término</h2>
          <input [(ngModel)]="newEvent.end_date" type="datetime-local" placeholder="Data e hora de término" name="end_date" required/>
          
          <h2>Descrição do Evento</h2>
          <input [(ngModel)]="newEvent.description" class="event-input" type="text" placeholder="Descrição" name="description" required/>
          
          <button [ngStyle]="{'cursor':(f.valid ? 'pointer':'not-allowed')}" [disabled]="!f.valid" class="submit-event" type="submit">Cadastrar</button>
        
        </form>
      </div>
    </div>
  </div>
  