<div class="signup-container">
    <div class="form-container">
      <form>
        <h1>Bem vindo!</h1>
  
        <p>Crie sua conta preenchendo os campos abaixo</p>
  
        <input type="text" placeholder="Nome Completo" />
  
        <input type="email" placeholder="E-mail" />
  
        <input type="password" placeholder="Senha" />
  
        <input type="password" placeholder="Confirme sua senha" />
  
        <button className="button-signup" type="submit">Cadastrar</button>
        <a routerLink="/"> Já tenho cadastro </a>
      </form>
  
      
    </div>
  
    <div class="img-container">
      <img src="../assets/Tokenlab.png" alt="Tokenlab">
    </div>
  </div>
  